@{
	ViewData["Title"] = "Detaily";
}

@model New


<div>
	<h1>Details</h1>

    <table class="table table-dark w-50">
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Autor</td>
            <td>@Model.</td>
        </tr>
        <tr>
            <td>Název</td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>Datum</td>
            <td>@Model.DateT</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>@Model.Text</td>
        </tr>
        <tr>
            <td>Připnuto?</td>
            <td>@Model.IsOnTop</td>
        </tr>
    </table>

    <a asp-action="News" asp-controller="News" class="btn btn-outline-info">Zpět na News</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="News" class="btn btn-outline-info">Editovat</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="News" class="btn btn-outline-info">Smazat</a>
</div>